div.temperature {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

div.temperature :first-child {
    padding: 1vh;
    max-width: 70vw;
}

div.temperature article.question {
    display: flex;
    flex-direction: column;
}

div.temperature article.question section {
    display: flex;
    gap: 2vw;
    align-items: center;
}
