div.temperature {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

div.temperature :first-child {
    padding: 1vh;
    max-width: 70vw;
}

div.temperature article.question {
    display: flex;
    flex-direction: column;
}

div.temperature article.question section {
    display: flex;
    gap: 2vw;
    align-items: center;
}
div.p-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.animIcon{
    height: 0px;
}

div.animIcon div{
    position: relative;
    top: -63px;
    left: -25vw;
}

div.lLogo{
    position: absolute;
    animation: logoAnim 1s ease-out;
    top: 3em;
    transform: translateY(+100px) scale(3);
}

@keyframes logoAnim {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    100% {
        transform: translateY(+100px) scale(3);
        opacity: 1;
    }
}