div.poumon {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.xlarge{
    font-size: xxx-large;
}
.centreCell{
    border-right: 2px  solid black;
    border-left: 2px  solid black;
}
.table-collapse{
 border-collapse:collapse;
}