html {
  background: black;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

* {
  color: black;
}

p {
  margin-bottom: 10px;
  line-height: 1.5rem;
  text-align: justify;
  width: 80%;
  text-shadow: #363636 2px 0 10px;
}

h1 {
  text-shadow: #363636 2px 0 10px;
}
