html {
  background: black;
}

.p-card {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: black;
}

p {
  margin-bottom: 10px;
  line-height: 1.5rem;
  text-align: justify;
  text-shadow: #363636 2px 0 10px;
}

h1 {
  text-shadow: #363636 2px 0 10px;
}
div.lLogo img{
  position: absolute;
  animation: logoAnim2 1s ease-out;
  top: 0;
  right: 5em;
  transform: translateY(+100px) scale(1);
}

span.clickable{
  color:red;
}

@keyframes logoAnim2 {
  0% {
    transform: translateY(0) scale(0.2);
    opacity: 0;
    rotate: 680deg;
  }
  100% {
    transform: translateY(+100px) scale(1);
    opacity: 1;
    rotate: 0;
  }
}